{% extends "base.html" %} 

{% block title %} Edit Task {% endblock title %}

{% block content %}
    <div class="container">
        {% if obj.owner == user %}
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <input type="text" class="form-control" name="task" value="{{ obj.task}}">
                <input type="hidden" name="is_completed" value="{{ obj.is_completed}}">
            </div>
            <button type="submit" class="btn btn-primary">Update Task</button>
        </form>
        {% endif %}
        <br>
    </div>
{% endblock content %}